<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.parkingShare.dao.ChattingMapper">

  <select id="selectChattingroomList" parameterType="ChattingVO" resultType="ChattingVO">
    SELECT 
    	A.CHATROOM_IDX,
    	C.MESSAGE_TEXT,
    	C.CREATE_DATE
   	FROM CHATROOM A
   	JOIN USER B
   	ON A.USER_IDX = B.USER_IDX1 AND A.USER_IDX = B.USER_IDX2
   	JOIN MESSAGE C
   	ON B.CHATROOM_IDX = C.CHATROOM_IDX
   	WHERE  B.USER_IDX = #{userIdx}
   	AND A.DEL_YN = 'N'
   	GROUP BY A.CHATROOM_IDX
   	ORDER BY C.CREATED_DATE DESC
  </select>
  
  <select id="selectChattingList" parameterType="ChattingVO" resultType="ChattingVO">
  	SELECT 
  		MESSAGE_IDX,
  		SENDER_IDX,
  		RECIPIENTS_IDX,
  		MESSAGE_TEXT,
  		CREATED_DATE
  	FROM MESSAGE
  	WHERE CHATROOM_IDX = #{chatroomIdx}
  </select>
  
</mapper>