<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.parkingShare.dao.ReservationMapper">

  <select id="selectReservationList" parameterType="ReservationVO" resultType="ReservationVO">
    SELECT *
   	FROM PARKING_AREA
  </select>
  
  <select id="selectReservationDetail" parameterType="ReservationVO" resultType="ReservationVO">
    SELECT * 
    FROM PARKING_AREA
    WHERE AREA_IDX = #{areaIdx}
  </select>
  
  <insert id="insertReservation" parameterType="ReservationVO">
  	INSERT INTO RESERVATION
  	SET USER_IDX = #{userIdx},
  		HOST_IDX = #{hostIdx},
		AREA_IDX = #{areaIdx},
		RESERVATION_START_TIME = #{reservationStartTime}
		RESERVATION_END_TIME = #{reservationEndTime}  	
  </insert>
  
  <delete id="deleteReservation" parameterType="ReservationVO">
  	DELETE FROM RESERVATION
  	WHERE RESERVATION_IDX = #{reservationIdx}
  </delete>

</mapper>